@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/basement-grotesque.css";

html,
body,
#__next {
  height: 100%;
  background: black;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
}

.supply {
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  font-weight: 900;
  color: black;
}

@media only screen and (max-width: 600px) {
  .supply {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-weight: 900;
    color: black;
  }
  .headerCircles {
    width: 50px;
    height: 24px;
  }
}

@keyframes overflow-left-right {
  0% {
    transform: translateX(100%);
  }
  
  100% {
    transform: translateX(-100%);
  }
}

.overflow-left-right {
  white-space: nowrap;
  animation: overflow-left-right 50s linear infinite;
}

.headerCircles {
  width: 152px;
  height: 72px;
}